body {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  font-family: helvetica;
  background-color: white;
}

.hidden {
  display: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0px;
  width: 995px;
}
#player, #multiplayer {
  background-color: white;
  display: flex; 
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
  margin: 30px 0;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 10px;
}
input[type="image"] {
  height: 20px;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 2px;
}

input[type=text] {
  border: none;
  width: 50px;
  font-size: 1rem;
}
#vol_img, #vol {
  margin: 0 10px;
  width: 20px;
}
#slider, #trackSlider {
  width: 500px;
}

/*Styling the slider*/

input[type=range] {
  width: 100%;
  margin: 0px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #cbcbcb;
  border-radius: 10px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: 0px;
  width: 20px;
  height: 10px;
  background: #5d5d5d;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #cecece;
}
input[type=range]::-moz-range-track {
  background: #cbcbcb;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 10px;
  background: #5d5d5d;
  border-radius: 10px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  width: 100%;
  height: 10px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #c8c8c8;
}
input[type=range]::-ms-fill-upper {
  background: #cbcbcb;
}
input[type=range]::-ms-thumb {
  width: 20px;
  height: 10px;
  background: #5d5d5d;
  border-radius: 10px;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #cbcbcb;
}
input[type=range]:focus::-ms-fill-upper {
  background: #cecece;
}
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
.volContainer {
  display: flex;
  flex-direction: row;
  transition: all linear 0.5s;
  height: 100%;
  padding: 10px;
}
.volContainer > input[type=range] {
  width: 0;
  opacity: 0;
}
.volContainer:hover > input[type=range]{
  width: auto;
  opacity: 1;
  transition: all linear 0.5s;
}

#playBtn, #pauseBtn, #play_button, #pause_button {
  padding: 10px;
}